
#acc:hover #user-select{
    display: block ;
}

#user-select{
    display: none;
    min-width: 300%;
    background-color: #fff;
    height: auto;
    right: 0;
    border: 1px solid rgba(0,0,0, 0.2);
}

#user-select ul a li:hover{
    background-color: #e8edf6;
}
